html, body {
  background-color: beige;
  background-image: url("images/greek-vase.png");
  max-width: 100%;
  margin: 0;
  overflow-x: hidden;
}

.group {
    display: flex;
    flex-direction: column;
}

/* Header */
#name {
    font-size: 60px;
    margin: 0px;
    color: beige;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}

header {
  background-color: rgba(0, 41, 41, 0.75);
}

header h1 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

.imgFloat {
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    justify-content: center;
}

header nav {
    display: flex;
    justify-content: center;
  }
  
  header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 25px;
  }
  
  header nav ul li {
    list-style-type: none;
    margin-bottom: 15px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px 0 0;
    font-family: 'Montserrat Alternates', sans-serif;
  }

  header nav ul li:last-child a {
    margin-right: 0;
  }
/* Body */
p {
    font-family: cursive;
}

h1 {
  margin-top: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}

h2 {
    color: beige;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

article {
    text-align: center;
}

.intro, .about, .portfolio {
    font-family: cursive;
    margin-bottom: 20px;
}

.item {
    flex: 1;
    margin: 10px;
  }
  
  .item-double {
    flex: 2;
  }

/* Contacts */
.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Footer */
footer {
    background-color: rgba(0, 41, 41, 0.7);
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    text-align: center;
}

/* Links */
a {
    font: 1em sans-serif;
    font-weight: bold;
}

a:link {
    color: lightseagreen;
}
  
a:visited {
    color: lightseagreen;
}
  
a:hover {
    color: #ffffff;
}
  
a:active {
    color: grey;
}

@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }
  .group {
    flex-direction: row;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }
  header nav {
    margin-top: 8px;
  }

}

  * {
    margin: 0
  }
  
  /* Contact Form Design */
  
  form {
    padding-right: 8px;
    /* Fixed small sizing issue on the right */
  }
  
  form label {
    display: block;
  }
  
  form input, 
  form textarea {
    width: 100%;
    margin-bottom: 20px;
  }
  
  form textarea {
    height: 160px;
  }
  